{% load i18n %}
<div id="searchMaps" class="col-sm-6">

    <form action="{% url 'search' %}" method="GET">
      <div class="input-group input-group-lg">
        <input name="q" type="search" class="form-control" placeholder="{% trans 'Search maps' %}" value="{{ q|default:"" }}" />
        <span class="input-group-btn">
          <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-search"></i>{% trans 'Search' %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><button value="{% trans 'Search' %}" class="btn btn-link" type="submit"><i class="fa fa-fw fa-map"></i>une carte personnalisée</button></li>
              <li><button class="btn btn-link" type="button" onclick="location.href='https://www.openstreetmap.org/search?query='+this.form.q.value"><i class="fa fa-fw fa-map-signs"></i>un lieu ou un itinéraire<br><small class="text-muted pull-right">(sur OpenStreetMap)</small></button></li>
            </ul>
          </div>
        </span>
      </div>
    </form>

</div>